@model AuthProject.Models.Product

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_NoHeaderLayout.cshtml";
}

<h1>Удаление</h1>

<h3>Уверены что хотите удалить этот товар?</h3>
<div>
    <h4>Продукт</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Count)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-outline-danger">Удалить</button> |
        <a asp-action="Index" class="btn btn-outline-success">Назад к списку</a>
    </form>
</div>
